<?xml version="1.0"?>

<!-- 
This Web.config file is used by the Visual Studio editor to provide intellisense for Razor (.cshtml) files. 
We also use it at runtime to retrieve the list of default namespaces to add to the generated template classes (more on this in Part 04).

It needs to be named Web.config even in a console, desktop or Windows Service project as the Visual Studio editor is hardcoded to 
look for a Web.config file and ignores App.config.

In a console, desktop or Windows Service project, remember to set the "Copy to Output Directory" property of this Web.config file
to "Copy if newer" so that it gets deployed alongside the executable. 
-->

<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <system.web.webPages.razor>
        <!-- Tell the Visual Studio editor to use RazorEngine's base class for the Razor intellisense instead of defaulting to ASP.NET MVC's WebViewPage base class  -->
        <pages pageBaseType="RazorEngine.Templating.TemplateBase, RazorEngine">
            <!-- List of namespaces that we want RazorEngine to always include in the generated template classes. 
            We'll configure our TemplateService instance with all the namespaces in this list.
            This list is also used by the Visual Studio editor to know about the default namespaces we've configured our instance of TemplateService 
            to use so that it doesn't complain about unknown types or missing namespaces.
            -->
            <namespaces>
                <add namespace="ConsoleApplication.Models" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <!-- This is necessary to stop the Visual Studio editor from throwing the "ASP.NET runtime error: There is no build provider registered for the extension '.cshtml'." error -->
    <system.web>
        <compilation targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </assemblies>
        </compilation>
    </system.web>

</configuration>
