<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <!-- Replace development SMTP settings with production settings -->
    <system.net xdt:Transform="Replace">
        <mailSettings>
            <smtp deliveryMethod="Network" from="John &lt;john@awesomesite.com&gt;">
                <network host="smtp.awesomesite.com" userName="John" password="password" port="587" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>